/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
display: flex;
height: calc(100vh - 120px);
}
/* ////////////////////
     Utils
///////////////////// */
.d-none{
  display: none;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-inline-block{
  display: inline-block;
}
.d-inline{
  display: inline;
}

/* ////////////////////
    debug
///////////////////// */
.container .sidebar {
  border: dashed;
  
}


/* ////////////////////
        MAIN 
///////////////////// */


/* ////////////////////
    SECTION SIDEBAR
///////////////////// */

.sidebar{
  display: flex;
  flex-direction: column;
  width: 50px;
  height:100%;
  background-color: #000000;
} 

.sidebar .playlist-load
.sidebar .playlist-list{
  display: none;
}

.sidebar .user{
  margin-top: auto;
}
.sidebar-logo{
  flex-direction: row;
  justify-content: center;
}


/* ////////////////////
    SECTION MAIN SECTION
///////////////////// */

.main-section{
  display: flex;
  flex-direction: column;
  width:100% ;

}

/* ////////////////////
   UP MAiN
///////////////////// */

.up-main{
height: 80px;
max-width: 100%;
background-color: #080b12;

}

/* ////////////////////
    MAIN
///////////////////// */
.main-section{
  max-width:100%;
}

.main-section > .mid-main{
flex: 1 1 100%;
background-color: #141922;
}

/* ////////////////////
    FOOTER CONTAINER
///////////////////// */

.footer-container{
height:120px;
max-width: 100%;
background-color: #282828;
}


/* ////////////////////
    MEDIA QUERIES
///////////////////// */

/* SM */

@media screen and (min-width:576px){
  .sidebar{
    width: 250px;
  } 
  
/* ////////////////////
     Utils
///////////////////// */
.d-sm-none{
  display: none;
}
.d-sm-flex{
  display: flex;
}
.d-sm-block{
  display: block;
}
.d-sm-inline-block{
  display: inline-block;
}
.d-sm-inline{
  display: inline;
}



/* debug */
  .up-main{
    background-color: red;
  }
}

/* Tablet md 768PX */

@media screen and (min-width:768px){

 /* ////////////////////
     Utils
///////////////////// */
.d-md-none{
  display: none;
}
.d-md-flex{
  display: flex;
}
.d-md-block{
  display: block;
}
.d-md-inline-block{
  display: inline-block;
}
.d-md-inline{
  display: inline;
}


  /* debug */
  .up-main{
    background-color: green;
  }
}

/* LG 992PX */

@media screen and (min-width:992px){

/* ////////////////////
     Utils
///////////////////// */
.d-lg-none{
  display: none;
}
.d-lg-flex{
  display: flex;
}
.d-lg-block{
  display: block;
}
.d-lg-inline-block{
  display: inline-block;
}
.d-lg-inline{
  display: inline;
}


  /* debug */
  .up-main{
    background-color: orange;
  }
}

/* MD-L 1200PX */

@media screen and (min-width:1200px){


  /* debug */
  .up-main{
    background-color: yellow;
  }

}

